.block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px;
  padding: 16px;
}

.toggles {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.button {
  width: 50%;

  &-mobile {
    display: none;
    width: calc(100% - 32px);
    margin: 0 auto;
    padding: 10px;

    @include active-by(md) {
      display: block;
    }
  }
}
